{% extends 'rateyocourse/base.html' %}
{% load staticfiles %} <!-- New line-->

{% block title_block %}
	About
{% endblock %}

{% block body_block %}
	<div align="center" >
	<h1>About Our Team</h1>
</div>
	
<div class="col-md-0 ">
<br>
This website was created for you to be able to rate your professors and courses without the worry of procrations. We aim to help you to be able to gain
an objective view of the professor and courses you are about to take. Or if you are a new studnet then you can gain an objective view of your chosen
university. We verify all users before they are able to comment or rate courses and universities. However, it is not meant to offend people, so please
use the cite responsively. 
<br>
<br>
Our team came to existence during our university years. We realized that student experience with given courses and universities is vital, however,
it is hard to gain excess to this information without having pepole who you know and already took the courses. This website lets you skip this stage
and allows you to gain the information you need, without knowing people. 
	<!--</div>
	<img src="{% static "images/rango.jpg" %}"
		alt="Picture of Rango" />
	<p>
	<img src="{{ MEDIA_URL }}cat.jpg"
				 alt="Picture of a cat" /></p>-->
	
{% endblock %}
			