{% load static %}
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,
initial-scale=1, shrink-to-fit=yes">
<meta name="description" content="">
<meta name="author" content="">
<title>
RateYoCourse {% block title %}{% endblock %}
</title>
<!-- Bootstrap core CSS -->
<link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css"
rel="stylesheet">
<!-- Custom styles for this template -->
<link href=
"http://v4-alpha.getbootstrap.com/examples/dashboard/dashboard.css"
rel="stylesheet">
</head>
<body>
<br>
<h1><t class="text-danger"><p align="center"><strong>Rate Yo Course</strong></p></t></h1>
<br>
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
<button class="navbar-toggler navbar-toggler-right hidden-lg-up"
type="button"
data-toggle="collapse"
data-target="#navbar"
aria-controls="navbar"
aria-expanded="false"
aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbar">
<ul class="navbar-nav mr-auto">
 <li class="nav-item active">
<a class="nav-link" href="{% url 'index' %}" id="nbtn">
Home
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'universities' %}"   id="nbtn">
Universities
</a>
</li>
<li class="nav-item"  >
<a class="nav-link" href="{% url 'about' %}" id="nbtn">
About
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'list_profiles' %}">
Registered Users
</a>
</li>
{% if user.is_authenticated %}
<li class="nav-item">
<a class="nav-link" href="{% url 'profile' user.username %}">
Profile
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'auth_logout' %}?next=/rateyocourse/"  id="nbtn">
Logout
</a>
</li>
{% else %}
<li class="nav-item"  >
<a class="nav-link" href="{% url 'registration_register' %}" id="nbtn">
Register Here
</a>
</li>
<li class="nav-item" >
<a class="nav-link" href="{% url 'auth_login' %}"  id="nbtn">
Login
</a>
</li>
{% endif %}
</ul>
</div>
</nav>

{% block sidebar_block %}
{% endblock %}
</div>
<!--star_ratings-->
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<!--end of star_ratings-->
<div class="col-sm-9 offset-sm-3 col-md-10 offset-md-1 main">
{% block body_block %}
{% endblock %}
</div>
<!--star_ratings-->
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
<!--end of star_ratings-->
</div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script
src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
</script>
<script
src="http://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js">
</script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script
src=
"http://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js">
</script>
  <script src="{% static "js/itech.js" %}"></script>
</body>
</html>
