{% load static %}
<!DOCTYPE html>

{% load staticfiles %}
<html>

	<head>

		<title>

			GradeYoCourse

			{% block title_block %}

				Rate it!

			{% endblock %}

		</title>
		 <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">

	</head>

	<body>
		<div>

			{% block body_block %}
			{% endblock %}

		</div>

		 <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.js' %}"></script>

		<hr />

		<div>
			<ul>
				{% if user.is_authenticated %}
					<li><a href="{% url 'list_profiles' %}">List Profiles<a></li>
					<li><a href="{% url 'profile' user.username %}">Profile</a></li>
					<li><a href="{% url 'password_change_form' %}">Change your password</a></li>
					<li><a href="{% url 'logout' %}">Logout</a></li>
				{% else %}
					<li><a href="{% url 'login' %}">Login</a></li>
					<li><a href="{% url 'register' %}">Register</a></li>
				{% endif %}
					<li><a href="{% url 'about' %}">About</a></li>
					<li><a href="{% url 'index' %}">Index</a></li>
					<li><a href="{% url 'universities' %}">Universities</a></li>
			</ul>
		</div>
	</body>
</html>
