{% extends 'rateyocourse/base.html' %}
{% load static %}
{% load staticfiles %}

{% block title_block %}
	- GradeYoCourse
{% endblock %}

{% block body_block %}

  {% if user.is_authenticated %} 
  <div class="welcome">
   <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
   <strong>Welcome </strong>  {{ user.username }}!
  </div>
  {% endif %}
  <div align="center" >
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
<div class="fb-like" data-href="https://rateyocourse.com" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
</div> <br>

<div align="center">
<div class="welcome-message">
Welcome to Rate Yo Course where you can rate yo course,
without your professors` knowledge. This site was created
to help students decide if they are in the right course.</div>
 <br>
<div>
<img class="img-responsive" src="{% static "images/rate.jpg" %}" alt="Rate Yo Course" width="400" height="280"/></div>
 </div>
 <br>
 <br>

<div align="center" >
<div class="form-group">
		<button class="btn btn-danger center-block" id="show" alt="Max-width 100%">Search Yo Uni!</button>
</div>

<div class="col-md-8 ">
<form class="form-group" action="{% url 'search'  %}" method="get" accept-charset="utf-8" id="search-form" >
    <input class="form-control center-block text-center" type="text" placeholder="University / Course Name" id="input" title="Start typing a university name or course for suggestions.." name="q" required>
  <button class="btn btn-danger" type="submit" id="button">Search</button>
  </form>
	<p><button class = "btn btn-link" id="cancel-link" title="Click here to go back"> Cancel </button></p>
	</div>
	<link rel="stylesheet" href="{% static 'css/index.css' %}"/>
	<!--
<div class="jumbotron col-md-6"> 
  {% if user.is_authenticated %} 
  <p> Welcome {{ user.username }} </p> 
 {% else %}
<p class="text-center"> <b class="font-weight-bold"><o class="text-danger">WARNING!</o></b></p>
  <p> You are not signed in, this means you will not be able to rate courses and universities</p>
{% endif %}
</div>-->
</div>
{% endblock %}

