<!--this template is used for profiles-->
<!--this template uses the base-->
<!--this template uses static files-->
{% extends 'rateyocourse/base.html' %}
{% load staticfiles %}

<!--title-->
{% block title %}
	User Profiles
{% endblock %}

<!--letting the user know the path they are on-->
{% block body_block %}
<link rel="stylesheet" href="{% static "css/list_profiles.css" %}">
<div class="site-map"><p>You are here > <a href="{% url 'index' %}"> Home</a> / <a href="{% url 'list_profiles' %}" > Registered Users </a></a></p></div>
	<div class="jumbotron">
	
	<!--subtitle-->
	<h1 class="display-4">Registered Users</h1>

<!--listing the users, if the user list exists-->
<div class="panel">
	{% if userprofile_list %}
	<div class="panel-heading">
		<div class="panel-body">
			<div class="list-group">
				{% for listuser in userprofile_list %}
				<div class="list-group-item ">
					{% if listuser.picture %}
					<img class="d-flex align-self-start mr-3" id="pic" width="64" height="64" src="{{ MEDIA_URL}}{{listuser.picture}}"/>
					{% else %}
					<img class="d-flex align-self-start mr-3" id="pic" width="64" height="64" src="http://lorempixel.com/64/64/people/"/>
					{% endif %}
					<div class="media-body">
					<h5 class="mt-0 list-group-item-heading" id="username">
						<a href="{% url 'profile' listuser.user.username %}">{{ listuser.user.username }}</a></h5>
					<p class="status">({{ listuser.status }})</p>
					<p><strong>About Me</strong></p>
					<p class="about">{{ listuser.about }}</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	
<!--if users are not registered-->
	{% else %}
		<p>There are no users for the site.</p>
	{% endif %}
</div>
</div>
{% endblock %}