<!--this template is used for login-->
<!--this template uses the base-->
<!--this template uses static files-->
{% extends 'rateyocourse/base.html' %}
{% load staticfiles %}

<!--title-->
{% block title_block %}
	Login
{% endblock %}

{% block body_block %}

	<!--subtitle-->
	<h1>Login to Rate Yo Course</h1>
	
	<!--using the log in form-->
	<form id="login_form" method="post" action="{% url 'login' %}">
		{% csrf_token %}
		Username: <input type="text" name="username" value="" size="50" />
		<br/>
		Password: <input type="password" name="password" value="" size="50" />
		<br/>
		<input type="submit" value="submit" />
		<p><a href="{% url 'password_reset' %}">Forgotten your password?</a>
		<button class="btn btn-primary mb-2">
                
		<!--facebook log in-->
		<a href="#">Login with Facebook
                </a>
            </button>
		
		<!--forgotten password-->
		<p>
		Not a member?
		<!--<a href="{% url 'registration_register' %}">Register</a>-->
		<a href="{% url 'register' %}">Register</a>
	</p>
	</form>
	<link rel="stylesheet"  href="{% static 'css/login.css' %}" />
{% endblock %}