{% extends "rateyocourse/base.html" %}
{% load staticfiles %}

{% block title_block %}
	Registration - Step 2
{% endblock %}

{% block body_block %}
<div class="container">
<link href="{% static "css/profile_registrations.css" %}" rel="stylesheet">
	<div class="jumbotron">
	<h1 class="display-4 ">Complete Your Profile</h1>
	<div><b><p> About Me: </p></b></div>
	<form method="post" action="." enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<button class="btn btn-primary" type="submit" value="Submit" role="button"/>Update</button>
	</form>
	</div>
	</div>
{% endblock %}