{% extends 'rateyocourse/base.html' %}
{% load staticfiles %}
{% load ratings %}

{% block title_block %}
	 GradeYoCourse - University
{% endblock %}

{% block body_block %}
<div>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
<p><a href="{% url 'universities' %}"> Universities</a></p>
	{% if university %}
	<h1> {{ university.name }} </h1>
	<h2> Here are the courses provided by this university </h2><br/>
		{% if courses %}
			<ol>
			{% for course in courses %}
				<a href="{% url 'course' university.slug course.slug %}">{{ course.name }}</a></li><br/> <!--: Course rating {{ course.rating }} </li><br/>-->
				<!--<li><a href="{{ course.url }}">{{ course.name }}</a>: Course rating {{ course.rating }} </li>-->
			{% endfor %}
			</ol>
			{% else %}
				<strong>There are no courses for this university.</strong>
			{% endif %}
		{% else %}
			The specified university does not exist!
		{% endif %}
	</div>
<div class="row">

<div class="element2 col-md-7">
<br>
<br>
<br>
<br>
<br>
<br>
{% ratings university %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" id="id_submit">
    </form>
</div>
<div class="element1 col-md-5">
{% if university.name %}
<div align="right">
<div class="fb-page" data-href="https://www.facebook.com/UofGlasgow/" data-tabs="timeline" data-width="400" data-height="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/UofGlasgow/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/UofGlasgow/">University of Glasgow</a></blockquote></div>
<br>
<br>
<br>
</div>
			
			{% endif %}
		
</div>
</div>
{% endblock %}

{% endblock %}
