{% extends 'rateyocourse/base.html' %}
{% load staticfiles %}
{% load ratings %}

{% block title_block %}
	 GradeYoCourse - University
{% endblock %}

{% block body_block %}
<p><a href="{% url 'universities' %}" id="site-map"> Universities</a></p>
<hr/>
<div class = "jumbotron">
	<div class="row marketing">
	<div class="col-lg-8">
	{% if university %}
	<h1 class="display-4"> {{ university.name }} </h1>
	<p id="uni-city">Location: {{university.city}} </p>
	</div>
	<div class="col-lg-4">
	{% if university.name|default:""|slice:"-1:" == "w" %}
        <img class="img-fluid" position=inline width=auto height=auto src="{% static 'glasgow.jpg' %}" alt="Picture of University"  id="picture"/>
		{% else %}
		<img class="img-fluid" position=inline width=auto height=auto src="{% static 'edinburgh.jpg' %}" alt="Picture of University"  id="picture" />
		{% endif %}
		</div> 
		</div>
		<h2> Here are some courses provided by this university that you can rate </h2><br/>
		{% if courses %}
			<ol>
			{% for course in courses %}
				<li><a href="{% url 'course' university.slug course.slug %}">{{ course.name }}</a></li><!--: Course rating {{ course.rating }} </li><br/>-->
				<!--<li><a href="{{ course.url }}">{{ course.name }}</a>: Course rating {{ course.rating }} </li>-->
			{% endfor %}
			</ol>
			{% else %}
				<strong>There are no courses for this university.</strong>
			{% endif %}
		{% else %}
			The specified university does not exist!
		{% endif %}
	</div>

{% ratings university %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" id="id_submit">
    </form>
{% endblock %}
</div>
{% endblock %}