<!--this template is used with the university page-->
<!--this template extends the base-->
<!--this template uses static files-->
{% extends 'rateyocourse/base.html' %}
{% load staticfiles %}
{% load ratings %}

<!--title-->
{% block title_block %}
	 GradeYoCourse - University
{% endblock %}

<!--display the page path-->
{% block body_block %}
<link rel="stylesheet" href="{% static "css/university.css" %}">
<div class="site-map"><p>You are here > <a href="{% url 'index' %}"> Home</a> / <a href="{% url 'universities' %}" > Universities</a> / <a href="{% url 'university' university.slug%}" >  {{  university.name}} </a></p></div>
<hr/>

<!--display university name, city, and photo-->
<div class = "jumbotron">
	<div class="row">
	<div class="col-lg-8 col-sm-6 col-xs-6">
			{% if university %}
			<h1 class="display-4"> {{ university.name }} </h1>
			<p id="uni-city">Location: {{university.city}} </p>
			<img class=img-fluid height=auto width=auto src="{% static university.get_photo_url %}" alt="a photo"></div>
			<!--
			{% if university.name|default:""|slice:"-1:" == "w" %}
        <img class="img-fluid" position=inline width=auto height=auto src="{% static 'glasgow.jpg' %}" alt="Picture of University"  id="picture"/>
		{% else %}
		<img class="img-fluid" position=inline width=auto height=auto src="{% static 'edinburgh.jpg' %}" alt="Picture of University"  id="picture" />
		{% endif %}-->

	<!--facebook page plug-in-->
	<div class="col-lg-4  col-sm-6 col-xs-6" align="center">
	<div id="fb-root"></div>
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
		{% if university.name|default:""|slice:"-1:" == "w" %}
		<div align="right">
		<div class="fb-page" data-href="https://www.facebook.com/UofGlasgow/" data-tabs="timeline" data-width="500" data-height="550" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/UofGlasgow/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/UofGlasgow/">University of Glasgow</a></blockquote></div>
		{% else %}
<div align="right">
		<div class="fb-page" data-href="https://www.facebook.com/UniversityOfEdinburgh/" data-tabs="timeline" data-width="500" data-height="550" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/UniversityOfEdinburgh/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/UofGlasgow/">University of Edinburgh</a></blockquote></div>
		{% endif %}
		</div> 
	</div>
		<div>
		<br/>

		<!--list the courses offered by the university-->
		<h2 class="university-course-heading"> Here are some courses provided by this university that you can rate </h2><br/>
		{% if courses %}
			<ol>
			{% for course in courses %}
				<li><a href="{% url 'course' university.slug course.slug %}">{{ course.name }}</a></li>
			{% endfor %}
			</ol>
			{% else %}
				<strong>There are no courses for this university.</strong>
			{% endif %}
			{% else %}
			The specified university does not exist!
			{% endif %}

<!--display the rating of the university-->
	{% ratings university %}
{% block content %}
{% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}		
		<!--<button class="bnt bnt-lg btn-primary btn-block" type="submit" value="Submit"/>Submit Query</button>-->
        <!--<input type="submit" id="id_submit">-->
		<br/>
		<button class="btn btn-primary" input type="submit" type="submit" value="Submit" id="id_submit"/>Submit</button>
    </form>
	{% endif %}
		{% endblock %}
</div>
{% endblock %}