{% extends "rateyocourse/base.html" %}
{% load staticfiles %}
{% load socialaccount %}

{% block title %}
	- Log in
{% endblock %}


{% block body_block %}
<link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
<div class="jumbotron">
	<h1 class="display-3 text-center">Login to Rate Yo Course </h1>
	</div>
	<form class="form-signin" role="form" method="post" action=".">
		{% csrf_token %}
		<h2 class="form-signin-heading">Please sign in</h2>
		<label for="inputUsername" class="sr-only">Username</label>
		<input type="text" name="username" id="id_username" class="form-control" placeholder="Username" title="Please enter your username" required autofocus>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" name="password" id="id_password" class="form-control" placeholder="Password"  title="Please enter your password" required>
		<button class="btn btn-primary btn-block" type="submit" value="Submit"/>Sign in</button>
			<p><a href="{% url 'password_reset' %}" >Forgotten your password?</a><br/>	
	<p><h5 class="text-center">~~<strong>OR</strong>~~</p></h3>
	<!--<p class="text-center"><a class="btn btn-primary btn-block " href="{% url 'social:begin' 'facebook' %}" role="button">Login with Facebook</a></p>-->
	<p class="text-center"><a class="btn btn-primary btn-block "href="{% provider_login_url 'facebook' %}" role="button">Login with Facebook</a></p>
	<p class="text-center"><a class="btn btn-info btn-block " href="{% provider_login_url 'twitter' %}" role="button">Login with Twitter</a></p>
	  <p class="text-center"><a class="btn btn-block btn-outline-primary waves-effect" href="{% provider_login_url 'github' %}" role="button">Login with GitHub</a></p>
	<p class="text-center">
		Not a member?
		<a href="{% url 'registration_register' %}">Register</a>
		</p>
	</form>
	<link rel="stylesheet"  href="{% static 'css/login.css' %}" type="text/css" />
	<link rel="stylesheet"  href="{% static 'css/base.css' %}" type="text/css" />
{% endblock %}