{% extends 'rateyocourse/base.html' %}
{% load staticfiles %}

{% block title_block %}
Forgot Your Password?
{% endblock %}

{% block body_block %}
<div class="jumbotron">
  <h1 class="display-3">Forgotten your password?</h1>

  <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
  <form class="form-reset" role="form" method="POST" action=".">
    {% csrf_token %}
	<label for="inputEmail" class="sr-only">E-mail Address</label>
	<input type="text" name="email" id="id_email" class="form-control" placeholder="Your e-mail address.." required>
	<br/>
	<button class="btn btn-lg btn-primary" type="submit" value="Send me instructions!">Send Me Instructions!</button>
	
  </form>
    </div>
</div>
{% endblock %}