.ui-tooltip {
    background: #4a4a4a;
    color: #96f226;
    border: 2px solid #454545;
    border-radius: 0px;
    box-shadow: 0 0 ;
	width:200px!important;
}

.ui-helper-hidden-accessible {
	display:none;
}

.header a {
	text-decoration:none!important;
}

.active {
color:white!important;
}

.active a{
	color:white!important;
	}

/*
Alert user that they're not logged in
*/	
.alert {
  width: 20%;
  position:right;
  background-color: #f44336;
  color: white;
  position: fixed;
  z-index: 1;
  top: 12%;
  right: 1%;
  background: #red;
  overflow-x: hidden;
  padding: 10px 5px;
}
/*
Welcome logged in user
*/
.welcome {
	width: 20%;
  position:right;
  background-color: #008000;
  color: white;
  position: fixed;
  z-index: 1;
  top: 12%;
  right: 1%;
  background: #black;
  overflow-x: hidden;
  padding: 5px 5px;
  border-radius:5px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}