/* lowering course pic */
.image {
	margin-top:5%;
}

/* font size of student status */
.status {
	font-size:10px!important;
}

/** styling box round each comment */
.media {
	border-bottom-style: solid;
	border-color:#999!important;
}

/** Styling user bit of reviews */
#user-picture {
	margin-top:2%!important;
	padding:2px!important;
	border-radius: 50px;
}

h5.user {
	font-weight:bold!important;
}

/* lowering reviews box from leave a comment line */
.posted-date {
	margin-top:1px!important;
}
.list-unstyled {
	margin-top: 2%!important;
	border:1px solid #999!important;
}
/* Customising posted date row */
#date {
	/*background-color:black!important;*/
	text-decoration:underline;
	border-color:#999!important;
}
/* styling username */
#user a{
	color: #800020!important;
	font-weight:bold;
}
.jumbotron {
	border-radius:10px;
}
