.jumbotron {
	background-color: #3CB371;
	color:white;

}


/*
#autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
#autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
#autocomplete-selected { background: #f0f0f0; }
#autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }
	*/
/*search-form { display: block; width: 100%; text-align: center; margin-bottom: 35px; }
 
#search-form form {
  display: inline-block;
  background: #eeefed;
  padding: 0;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 0 0 0;
}
#search-form form .biginput {
  width: 600px;
  height: 40px;
  padding: 0 10px 0 10px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #aeaeae;
  font-weight:normal;
  font-size: 1.5em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#search-form form .biginput:focus {
  color: #858585;
}*/

* { box-sizing: border-box; }
.body {
  font: 16px Arial;
}

/* Search Box */
#input {
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	position:relative!important;
	border: 1px solid transparent;
	border-radius: 10px;
	background-color: #f1f1f1;
	padding: 15px;
	font-size: 16px;
	width:relative!important;
}

/* Search Box when text is being entered*/
#input:focus {
    box-shadow: 0 0 30px #96f226;
	background-color:white;
	border: 1px solid lightblue;
	 width: 100%;
}

/* Search Box when hovered over*/
#input:hover {
	background-color:white;
	border: 1px solid lightblue;
}

/* Search suggestions positioning
.autocomplete { 
	position: relative;
	 display: inline-block;
}
.autocomplete-items {
  border: 1px solid #d4d4d4;
  border-bottom:  1px solid #d4d4d4;
  border-top: none;
  z-index: 99;
  top: 100%;
}
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}*/
	 /*
.autocomplete-items div {
 padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  .ui-autocomplete {
 left:40% !important;
 bottom:200px!important;
 background-color:white;
 width:65%!important;
}

} */

.ui-tooltip {
    background: #4a4a4a;
    color: #96f226;
    border: 2px solid #454545;
    border-radius: 0px;
    box-shadow: 0 0 ;
	position:10px;
	width:200px!important;
}

.ui-autocomplete {
	position:relative !important;
	bottom:200px!important;
	background-color:white;
	width:absolute!important;
	border-radius:10px!important;
	border: 1px solid #d4d4d4;
}


.ui-menu .ui-menu-item {
	background-color:white;
	border-radius:10px;!important
}
	
.ui-autocomplete.source:hover {
    background-color: #454545;
} 

.ui-helper-hidden-accessible {
	display:none;
}
	
/*
.ui-autocomplete { position: absolute; cursor: default;z-index:9000 !important;}  