/*
Welcome logged in user
*/

.welcome {
	width: 20%;
  position:right;
  background-color: #008000;
  color: white;
  position: fixed;
  z-index: 1;
  top: 12%;
  right: 1%;
  background: #black;
  overflow-x: hidden;
  padding: 5px 5px;
  border-radius:5px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

* { box-sizing: border-box; }
.body {
  font: 16px Arial;
}

/* Search Box */
#input {
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	position:relative!important;
	border: 1px solid transparent;
	border-radius: 10px;
	background-color: #f1f1f1;
	padding: 15px;
	font-size: 16px;
	width:relative!important;
}

/* Search Box when text is being entered*/
#input:focus {
    box-shadow: 0 0 30px #96f226;
	background-color:white;
	border: 1px solid lightblue;
	 width: 100%;
}

/* Search Box when hovered over*/
#input:hover {
	background-color:white;
	border: 1px solid lightblue;
}

.ui-tooltip {
    background: #4a4a4a;
    color: #96f226;
    border: 2px solid #454545;
    border-radius: 0px;
    box-shadow: 0 0 ;
	position:10px;
	width:200px!important;
}

.ui-autocomplete {
	position:relative !important;
	bottom:200px!important;
	background-color:white;
	width:absolute!important;
	border-radius:10px!important;
	border: 1px solid #d4d4d4;
}


.ui-menu .ui-menu-item {
	background-color:white;
	border-radius:10px;!important
}
	
.ui-autocomplete.source:hover {
    background-color: #454545;
} 

.ui-helper-hidden-accessible {
	display:none;
}

#button {
	margin-top:10px;
	border-radius:5px!important;
}
	
/*
.ui-autocomplete { position: absolute; cursor: default;z-index:9000 !important;}  