/* lowering height of input fields */
.form {
	margin-top: 2%!important;
}

/* customising social login buttons */
.fa {
 width:105%!important;
	font-size:14px;
	font-weight:bold;
  text-align: center;
  text-decoration: none;

}

/* Add a hover effect ifor social log in buttons*/
.fa:hover {
  opacity:0.5;
}

/* Github button */
.fa-github {
  background: black;
  color: white;
  border-color:black!important;
}

/* Twitter button*/
.fa-twitter {
  background: #55ACEE;
  color: white;
} 

/* underlines login header */
.form-signin-heading {
	text-decoration:underline;
}