<!--this template is to display the ratings-->
<!--this template extends teh star rating base-->
{% extends 'star_ratings/widget_base.html' %}

<!--star ratings-->
{% block rating_container %}
    {{ block.super }}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elem = document.getElementById('{{ id }}');
            elem.addEventListener('rate-success', function(e) { console.log(e.detail); });
            elem.addEventListener('rate-failed', function(e) { console.log(e.detail); });
        })
    </script>
{% endblock %}